html
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        div.container
            h1 Custom Object (Project) Table
            a(href="/update-cobj" class="action-link") Add/Update this table

            if data && data.length
                ul.cards
                    each item in data
                        li.card
                            p Name: #{item.properties.name}
                            p Description: #{item.properties.description}
                            p Cost: #{item.properties.cost}
            else
                p No projects found