html
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        div.form-wrapper
            h1 Create New Project
            form(action="/update-cobj" method="POST")
                div
                    label(for="name") Project Name:
                    input(type="text" id="name" name="name" value=project.properties.name required)
                
                div
                    label(for="description") Description:
                    textarea(id="description" name="description" rows="4" required)= project.properties.description
                
                div
                    label(for="cost") Cost:
                    input(type="number" id="cost" name="cost" value=project.properties.cost required)
                
                input(type="submit" value="Create Project")